//***************************************************** VARIABLES GLOBALES *****************************************************//

$background-color: #dbdbcf;
$button-color: #2F3434;
$font-color:#181818;